<div class="flex w-full h-full gap-6 p-6">
  <div class="w-1/2 flex items-center justify-center bg-white">
    <img
      [src]="product?.imageUrl"
      alt="{{ product?.name }}"
      class="max-h-[420px] max-w-full p-2 object-contain rounded-lg"
    />
  </div>

  <div class="w-1/2 flex flex-col justify-start">
    <h2 class="text-2xl font-semibold mb-2">
      {{ product?.name }}
      <span class="text-sm font-normal text-gray-500"
        >({{ product?.unit }})</span
      >
    </h2>
    <div class="mb-4">
      <div class="flex items-center gap-3">
        <span class="text-2xl font-bold text-[#28c76f]">
          ৳ {{ getDiscountedPrice(product.price, product.discountPercent) }}
        </span>

        @if (product.discountPercent > 0) {
        <span class="text-sm text-gray-400 line-through">
          ৳ {{ product.price }}
        </span>

        <span class="bg-red-500 text-white text-xs px-2 py-1 rounded">
          {{ product.discountPercent }}% OFF
        </span>
        }
      </div>
    </div>

    <p class="text-gray-600 mb-4 leading-relaxed">{{ product?.description }}</p>

    <div class="mt-auto">
      @if (quantity$ | async; as qty) {
      <div class="flex gap-4 items-center mb-4">
        <div
          class="flex items-center border rounded-lg overflow-hidden bg-gray-50 shadow-sm"
        >
          <button
            (click)="decreaseQuantity()"
            class="px-5 py-2 hover:bg-gray-200 transition text-2xl font-light border-r"
          >
            −
          </button>

          <div
            class="px-8 py-2 bg-white flex flex-col items-center min-w-[90px]"
          >
            <span class="text-xl font-bold">{{ qty }}</span>
            <span class="text-[10px] uppercase text-gray-400 font-medium"
              >in bag</span
            >
          </div>

          <button
            (click)="addToCart()"
            class="px-5 py-2 hover:bg-gray-200 transition text-2xl font-light border-l"
          >
            +
          </button>
        </div>

        <button
          class="flex-1 bg-[#ff6b6b] text-white py-4 rounded-lg font-bold hover:opacity-90 transition"
        >
          Buy Now
        </button>
      </div>
      } @else {
      <div class="flex gap-4">
        <button
          (click)="addToCart()"
          class="w-full bg-[#28c76f] text-white py-4 rounded-full font-bold hover:opacity-90 transition shadow-lg"
        >
          Add to Cart
        </button>
        <button
          class="w-full bg-gray-100 text-gray-700 py-4 rounded-full font-bold hover:bg-gray-200 transition"
        >
          Buy Now
        </button>
      </div>
      }
    </div>
  </div>
</div>
