<div class="layout">
  <!-- LEFT SIDEBAR -->
  <aside class="sidebar">
    <div class="logo">
      <h2>My Store</h2>
    </div>

    <nav class="menu">
      <button routerLink="/home" routerLinkActive="active">🏠 Home</button>
      <button routerLink="/upload" routerLinkActive="active">
        📦 Products
      </button>
      <button routerLink="/category" routerLinkActive="active">
        📁 Categories
      </button>
    </nav>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
