<div class="panel-content">
  
  <div class="header">
    @if(mode === 'cart') {
      <h2 class="title">Your Cart</h2>
    } 
    @if(mode === 'upload') {
      <h2 class="title">Upload Product</h2>
    }
    
    <button class="close-btn" (click)="close()">&times;</button>
  </div>

  @if(mode === 'upload') {
    <div class="p-4">
      <ng-content></ng-content>
    </div>
  }

  @if(mode === 'cart') {
    <div class="cart-list">
      @if((cartItems | async)?.length === 0) {
        <div class="text-center text-gray-500 mt-10">
          <p>Your cart is empty.</p>
        </div>
      }

      @for (item of cartItems | async; track $index) {
        <div class="cart-item">
          <img [src]="item.imageUrl" alt="product" />
          <div class="item-details">
            <div class="flex justify-between items-center">
            <div>
            <h3>{{ item.name }}</h3>
            <p>৳ {{ item.price }}</p>
            </div>

            <button class="remove-btn" (click)="removeItem(item)" title="Remove item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
            </svg>
           </button>
          </div>
           
          </div>
        </div>
      }
    </div>
  }
</div>